In [1]:
import pandas as pd
import numpy as np

In [2]:
books_df = pd.read_csv('book_recommondation.csv',encoding='latin-1')
books_df

,Unnamed: 0,User.ID,Book.Title,Book.Rating
0,1,276726,Classical Mythology,5
1,2,276729,Clara Callan,3
2,3,276729,Decision in Normandy,6
3,4,276736,Flu: The Story of the Great Influenza Pandemic...,8
4,5,276737,The Mummies of Urumchi,6
...,...,...,...,...
9995,9996,162121,American Fried: Adventures of a Happy Eater.,7
9996,9997,162121,Cannibal In Manhattan,9
9997,9998,162121,How to Flirt: A Practical Guide,7
9998,9999,162121,Twilight,8
9999,10000,162129,Kids Say the Darndest Things,6

In [137]:
# remove the unnamed:0 column as it is containing just the serials numbers which is not required
del books_df['Unnamed: 0']

In [138]:
books_df

      User.ID                                         Book.Title  Book.Rating
0      276726                                Classical Mythology            5
1      276729                                       Clara Callan            3
2      276729                               Decision in Normandy            6
3      276736  Flu: The Story of the Great Influenza Pandemic...            8
4      276737                             The Mummies of Urumchi            6
...       ...                                                ...          ...
9995   162121       American Fried: Adventures of a Happy Eater.            7
9996   162121                              Cannibal In Manhattan            9
9997   162121                    How to Flirt: A Practical Guide            7
9998   162121                                           Twilight            8
9999   162129                       Kids Say the Darndest Things            6

[10000 rows x 3 columns]

In [139]:
#number of unique users in the dataset
len(books_df['User.ID'].unique())

2182

In [140]:
#number of unique books in the given dataset
len(books_df['Book.Title'].unique())

9659

In [150]:
# As there are large number of unique users and books for the given dataset
# To ensure the Statistical Significance,users with less than 50 rating and books with less than
#100 ratings are excluded
# As collaberative filtering 

# filtering the users based on the number of ratings they have given 
counts1 = books_df['User.ID'].value_counts()
books_df = books_df[books_df['User.ID'].isin(counts1[counts1>=50].index)]

# filtering the books based on the ratings given to it(un popular books)
counts = books_df['Book.Rating'].value_counts()
books_df = books_df[books_df['Book.Rating'].isin(counts[counts>=150].index)]

In [151]:
books_df

      User.ID                                         Book.Title  Book.Rating
520    277203                                The Fly on the Wall            8
521    277203                    Cranford (The World's Classics)            8
522    277203                The Red Tent (Bestselling Backlist)            8
523    277203                             The Right Hand of Amon            8
524    277203                                   Last Blue: Poems            8
...       ...                                                ...          ...
9964   162052                         Ali and Nino: A Love Story            5
9965   162052  Objects in Mirror Are Closer Than They Appear ...            7
9966   162052                                            Ragtime            9
9967   162052                            The Man Who Ate the 747           10
9968   162052                                   Women of Mystery           10

[2781 rows x 3 columns]

In [152]:
len(books_df['User.ID'].unique())

26

In [153]:
#number of unique books in the given dataset
len(books_df['Book.Title'].unique())

2765

In [99]:
books_df

      User.ID                                         Book.Title  Book.Rating
5137     2276                                              Shock           10
5138     2276                                        One of ours            9
5139     2276  The Clan of the Cave Bear (Earth's Children (P...            8
5140     2276                        Sapphira and the Slave Girl            8
5141     2276                                      The Awakening            9
...       ...                                                ...          ...
9964   162052                         Ali and Nino: A Love Story            5
9965   162052  Objects in Mirror Are Closer Than They Appear ...            7
9966   162052                                            Ragtime            9
9967   162052                            The Man Who Ate the 747           10
9968   162052                                   Women of Mystery           10

[925 rows x 3 columns]

In [154]:
users_books_df= books_df.reset_index().pivot_table(index='User.ID',
                                 columns='Book.Title',
                                 values='Book.Rating')

In [155]:
users_books_df

Book.Title,...AND THE HORSE HE RODE IN ON : THE PEOPLE V. KENNETH STARR,"1,401 More Things That P*Ss Me Off",1001 Brilliant Ways to Checkmate,101 Essential Tips: House Plants,101 Wacky Computer Jokes,11 Edward Street,2010: Odyssey Two,2061: Odyssey Three,22 Indigo Place,253,...,Your Mouth Is Lovely : A Novel,Your Name Is Renee: Ruth Kapp Hartz's Story As a Hidden Child in Nazi-Occupied France,"Yours Truly, Shirley",ZANZIBAR CAT,Zen Meditations on Being a Mother (Zen Meditations),Zodiac: The Eco-Thriller,Zombie!,"\More More More,\ Said the Baby",\O\ Is for Outlaw,"\Well, there's your problem\: Cartoons"
User.ID,,,,,,,,,,,,,,,,,,,,,
183,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,NaN
254,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
638,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
643,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1211,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1424,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1733,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2033,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2110,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,10.0,NaN,NaN,NaN,NaN,9.0
2276,NaN,NaN,NaN,NaN,7.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2442,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN
2766,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2891,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2977,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3346,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3363,NaN,NaN,NaN,NaN,NaN,NaN,8.0,NaN,10.0,NaN,...,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,NaN,NaN
3757,7.0,NaN,NaN,NaN,NaN,6.0,NaN,NaN,NaN,NaN,...,NaN,8.0,NaN,NaN,NaN,NaN,NaN,7.0,NaN,NaN
3827,NaN,NaN,NaN,9.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
161041,NaN,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,8.0,NaN,NaN,NaN
161936,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
162052,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
277203,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
277427,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
278137,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
278418,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [156]:
users_books_df.index = books_df['User.ID'].unique()
users_books_df

Book.Title,...AND THE HORSE HE RODE IN ON : THE PEOPLE V. KENNETH STARR,"1,401 More Things That P*Ss Me Off",1001 Brilliant Ways to Checkmate,101 Essential Tips: House Plants,101 Wacky Computer Jokes,11 Edward Street,2010: Odyssey Two,2061: Odyssey Three,22 Indigo Place,253,...,Your Mouth Is Lovely : A Novel,Your Name Is Renee: Ruth Kapp Hartz's Story As a Hidden Child in Nazi-Occupied France,"Yours Truly, Shirley",ZANZIBAR CAT,Zen Meditations on Being a Mother (Zen Meditations),Zodiac: The Eco-Thriller,Zombie!,"\More More More,\ Said the Baby",\O\ Is for Outlaw,"\Well, there's your problem\: Cartoons"
277203,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,NaN
277427,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
278137,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
278418,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
183,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
254,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
638,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
643,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1211,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,10.0,NaN,NaN,NaN,NaN,9.0
1424,NaN,NaN,NaN,NaN,7.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1733,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN
2033,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2110,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2276,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2442,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2766,NaN,NaN,NaN,NaN,NaN,NaN,8.0,NaN,10.0,NaN,...,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,NaN,NaN
2891,7.0,NaN,NaN,NaN,NaN,6.0,NaN,NaN,NaN,NaN,...,NaN,8.0,NaN,NaN,NaN,NaN,NaN,7.0,NaN,NaN
2977,NaN,NaN,NaN,9.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3346,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3363,NaN,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,8.0,NaN,NaN,NaN
3757,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3827,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
161041,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
161936,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
162052,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [157]:
#Impute those NaNs with 0 values
users_books_df.fillna(0, inplace=True)

In [158]:
users_books_df

Book.Title,...AND THE HORSE HE RODE IN ON : THE PEOPLE V. KENNETH STARR,"1,401 More Things That P*Ss Me Off",1001 Brilliant Ways to Checkmate,101 Essential Tips: House Plants,101 Wacky Computer Jokes,11 Edward Street,2010: Odyssey Two,2061: Odyssey Three,22 Indigo Place,253,...,Your Mouth Is Lovely : A Novel,Your Name Is Renee: Ruth Kapp Hartz's Story As a Hidden Child in Nazi-Occupied France,"Yours Truly, Shirley",ZANZIBAR CAT,Zen Meditations on Being a Mother (Zen Meditations),Zodiac: The Eco-Thriller,Zombie!,"\More More More,\ Said the Baby",\O\ Is for Outlaw,"\Well, there's your problem\: Cartoons"
277203,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.0,0.0
277427,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
278137,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
278418,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
183,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
254,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
638,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
643,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1211,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0,9.0
1424,0.0,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1733,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0
2033,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2110,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2276,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2442,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2766,0.0,0.0,0.0,0.0,0.0,0.0,8.0,0.0,10.0,0.0,...,0.0,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0
2891,7.0,0.0,0.0,0.0,0.0,6.0,0.0,0.0,0.0,0.0,...,0.0,8.0,0.0,0.0,0.0,0.0,0.0,7.0,0.0,0.0
2977,0.0,0.0,0.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3346,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3363,0.0,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,8.0,0.0,0.0,0.0
3757,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3827,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4017,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
161041,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
161936,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
162052,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [159]:
#Calculating Cosine Similarity between Users
from sklearn.metrics import pairwise_distances
from scipy.spatial.distance import cosine, correlation

In [160]:
# pairwise distance will caluclate the distance b/w one row to every other row
# when we say pairwise distance it gives one - cosine based distance to get the normal cosine distance 
#we convert that it into one - pairwise
user_sim = 1 - pairwise_distances(users_books_df.values,metric='cosine')

In [161]:
#Store the results in a dataframe
user_sim_df = pd.DataFrame(user_sim)

In [162]:
#Set the index and column names to user ids 
user_sim_df.index = books_df['User.ID'].unique()
user_sim_df.columns = books_df['User.ID'].unique()

In [164]:
user_sim_df.iloc[0:5, :]

,277203,277427,278137,278418,183,254,638,643,1211,1424,...,2891,2977,3346,3363,3757,3827,4017,161041,161936,162052
277203,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0000
277427,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0000
278137,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0173
278418,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0000
183,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0000

In [166]:
# fill all the diagnol values with zero as we are searching for most similar user
# it will give the same user details
np.fill_diagonal(user_sim, 0)
user_sim_df.iloc[0:5, :]

,277203,277427,278137,278418,183,254,638,643,1211,1424,...,2891,2977,3346,3363,3757,3827,4017,161041,161936,162052
277203,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0000
277427,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0000
278137,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0173
278418,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0000
183,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0000

In [184]:
#most similar users for first 5 users
user_sim_df.idxmax(axis=1)[1:5]

277427    277203
278137    162052
278418    277203
183       277203
dtype: int64

In [178]:
books_df[(books_df['User.ID']==278137) | (books_df['User.ID']==162052)]

      User.ID                                         Book.Title  Book.Rating
1551   278137                                   The Wailing Wind            7
1552   278137  Native American Postcolonial Psychology (Suny ...            9
1553   278137          A Heartbreaking Work of Staggering Genius            9
1554   278137  The Mystery of Capital: Why Capitalism Triumph...            8
1555   278137   The Other Path: The Economic Answer to Terrorism            8
...       ...                                                ...          ...
9964   162052                         Ali and Nino: A Love Story            5
9965   162052  Objects in Mirror Are Closer Than They Appear ...            7
9966   162052                                            Ragtime            9
9967   162052                            The Man Who Ate the 747           10
9968   162052                                   Women of Mystery           10

[255 rows x 3 columns]

In [175]:
books_df[books_df['Book.Title']=="The Magician's Tale"]

      User.ID           Book.Title  Book.Rating
7045     3757  The Magician's Tale            7
7439     3757  The Magician's Tale            7

In [179]:
user_1=books_df[books_df['User.ID']==162052]
user_1

      User.ID                                         Book.Title  Book.Rating
9755   162052           Long Quiet Highway: Waking Up in America            5
9756   162052  Skywriting by Word of Mouth : And Other Writin...            8
9757   162052                                     The Daydreamer            9
9758   162052                 1,401 More Things That P*Ss Me Off           10
9759   162052        Remembering Babylon (Vintage International)           10
...       ...                                                ...          ...
9964   162052                         Ali and Nino: A Love Story            5
9965   162052  Objects in Mirror Are Closer Than They Appear ...            7
9966   162052                                            Ragtime            9
9967   162052                            The Man Who Ate the 747           10
9968   162052                                   Women of Mystery           10

[199 rows x 3 columns]

In [180]:
user_2=books_df[books_df['User.ID']==278137]
user_2

      User.ID                                         Book.Title  Book.Rating
1551   278137                                   The Wailing Wind            7
1552   278137  Native American Postcolonial Psychology (Suny ...            9
1553   278137          A Heartbreaking Work of Staggering Genius            9
1554   278137  The Mystery of Capital: Why Capitalism Triumph...            8
1555   278137   The Other Path: The Economic Answer to Terrorism            8
1556   278137  In The Blink Of An Eye (The Taylor Clan) (Harl...            8
1557   278137                    The Importance of Being Earnest            9
1558   278137                                  Les Thanatonautes            8
1559   278137  Lost in a Good Book (Thursday Next Novels (Pen...            8
1560   278137                                       Bad Heir Day            7
1561   278137                                     Charlotte Gray            8
1562   278137                                      Apocalipstick            8
1563   278137                                     Harem: A Novel            9
1564   278137      The Dress Lodger (Ballantine Reader's Circle)            8
1565   278137                 Le Divorce (William Abrahams Book)            8
1566   278137                       Valley of the Dolls: A Novel            9
1567   278137  Tunnel Vision (V.I. Warshawski Novels (Paperba...            9
1568   278137                                   Comfortable Wife            8
1569   278137                               I Was Amelia Earhart            6
1570   278137                                     Summer Harvest            8
1571   278137  The Fellowship of the Ring (The Lord of the Ri...            9
1572   278137                                     Watership Down            9
1573   278137             The Eyre Affair (Alex Awards (Awards))            8
1574   278137  As Nature Made Him : The Boy Who Was Raised as...            9
1575   278137                                         Herzsprung            8
1576   278137                                    Basin and Range            9
1577   278137                             Breakfast of Champions            7
1578   278137  The Art of Doing Nothing: Simple Ways to Make ...            8
1579   278137                                             Embers            6
1580   278137              Tom Clancys Power Plays 2. Tigerjagd.            8
1581   278137                            The  Garden of Ediacara            8
1582   278137                                     Just Plain Cat            9
1583   278137  Way Out West Lives a Coyote Named Frank (Pictu...            7
1585   278137    Island of the Blue Dolphins (Laurel Leaf Books)            8
1586   278137                                How to Fight a Girl            9
1587   278137  Romantic Obsessions and Humiliations of Annie ...            7
1588   278137  Shadow of the Hegemon (Ender Wiggins Saga (Pap...            8
1589   278137                   Magic Casement (Man of His Word)            8
1590   278137  Tantras (Forgotten Realms:  Avatar Trilogy, Bo...            8
1591   278137  Shadowdale (Forgotten Realms:  Avatar Trilogy,...            8
1593   278137                                      CSI: Sin City            9
1594   278137                              Blackmantle (Keltiad)            9
1596   278137                                        Sudden Prey            9
1597   278137                                     Always a Thief            8
1598   278137                                       Once a Thief            9
1599   278137  A Thousand Words for Stranger (Daw Book Collec...            9
1600   278137                                     Deck the Halls            9
1601   278137                          Der Mann, der's wert ist.            8
1602   278137                                  Come Home Forever           10
1603   278137                    The Renegades: Cole (Renegades)            9
1604   278137                                 Christmas Miracles            8
1605   278137                                  Fires in the Mist            8
1606   278137                         Return to Love (Arabesque)            8
1607   278137                                  The Marriage Plan            8
1608   278137                             The Eagle and the Dove            8
1609   278137                                 The Donovan Legacy            8

In [183]:
pd.merge(user_1,user_2,on='Book.Title',how='outer')

,User.ID_x,Book.Title,Book.Rating_x,User.ID_y,Book.Rating_y
0,162052.0,Long Quiet Highway: Waking Up in America,5.0,NaN,NaN
1,162052.0,Skywriting by Word of Mouth : And Other Writin...,8.0,NaN,NaN
2,162052.0,The Daydreamer,9.0,NaN,NaN
3,162052.0,"1,401 More Things That P*Ss Me Off",10.0,NaN,NaN
4,162052.0,Remembering Babylon (Vintage International),10.0,NaN,NaN
...,...,...,...,...,...
250,NaN,Fires in the Mist,NaN,278137.0,8.0
251,NaN,Return to Love (Arabesque),NaN,278137.0,8.0
252,NaN,The Marriage Plan,NaN,278137.0,8.0
253,NaN,The Eagle and the Dove,NaN,278137.0,8.0
254,NaN,The Donovan Legacy,NaN,278137.0,8.0